<div class="container-fluid">
  <div class="container-fluid bg-white" style="margin-top: 10px; padding-top: 10px">
    <div class="row bubble">
      <div class="col-xs-3">
        <form>
          <div class="form-group has-feedback">
            <input type="search" ng-model="filterBy" class="form-control input-lg" ng-change="filterChange()"
                   placeholder="Search">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="form-group">
            <label class="control-label"><strong>Universe Name</strong></label>

            <p>{{ universe.data.Universe_Name }}</p>
          </div>
        </form>
        <div class="form-group">
          <label class="control-label"><strong>Universe Full Path</strong></label>

          <p>{{ universe.data.Universe_Full_Path }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Classes</strong></label>

          <p>{{ universe.data.Number_Of_Classes }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Objects</strong></label>

          <p>{{ universe.data.Number_Of_Objects }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Conditions</strong></label>

          <p>{{ universe.data.Number_Of_Conditions }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Tables</strong></label>

          <p>{{ universe.data.Number_Of_Tables_Including_Alias }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Joins</strong></label>

          <p>{{ universe.data.Number_Of_Joins }}</p>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Number Of Contexts</strong></label>

          <p>{{ universe.data.Number_Of_Contexts }}</p>
        </div>
      </div>
      <div id="bubble2" class="col-xs-9 table-responsive">
         <div class="pull-right slideTwo">	
			<input type="checkbox" ng-model="bubbleView" id="slideTwo" name="check" />
			<label for="slideTwo"></label>
		</div>
      <div ng-show="bubbleView">
        <table ng-table="tableParams" class="table table-bordered  table-striped text-left">
          <colgroup>
            <col width="30%">
          </colgroup>
          <tr ng-repeat="clz in $data">
            <td data-title="'Class Name'" data-sortable="'Class_Name'">
              <a ng-click="showSankey(clz)">{{ clz.Class_Name }}</a>
            </td>
            <td data-title="'Class Description'" data-sortable="'Class_Description'">
              {{ clz.Class_Description }}
            </td>
          </tr>
        </table>
        </div>
        <div ng-hide="bubbleView">
          <div id="bubble"></div>
        </div>
      </div>

    </div>
    <div class="row sankey" ng-show="showChartBtns">
      <div class="col-xs-12 text-right" style="padding-bottom: 10px">
        <div class="btn-group btn-group-lg">
          <button class="btn btn-default" ng-click="filterChange()">
            <fa name="arrow-left"></fa>
            Class View
          </button>
          <button class="btn btn-primary" ng-click="loadSankey()">
            Sankey
          </button>
          <button class="btn btn-primary" ng-click="binaryTreeView()">
            <i class="fa fa-code-fork"></i> Tree
          </button>
          <button class="btn btn-primary" ng-click="tableView()">
            <i class="fa fa-table"></i>
          </button>
          <button class="btn btn-primary" ng-click="refreshSankey()">
            <fa name="refresh"></fa>
          </button>
        </div>
      </div>
    </div>
    
    <div id="treeTab" ng-show="showBinaryTree" class="treeTab">
    	<div id="collapsibleTree"></div>
    </div>
    <div id="tableView" ng-show="showTable" class="tableView">
    	<div>
    	
    	<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-6">
		                    <div save-content="light-html">
		                        <treecontrol class="tree-light"
		                                     tree-model="treedata"
		                                     on-selection="showSelected(node)" expanded-nodes="expandedNodes" options="opts">
		                            <div style="display:inline; line-height: 25px;"><span  class="reportTree" style="color: #616f77;"><strong>{{node.type}}</strong></span> : <span class="reportTree"><span ng-bind="node.name"></span></span></div> 
		                        </treecontrol>
		                    </div>
			</div>
		  <div class="col-md-5">
		  	Selected Node : 
		  	<div ng-show="selectedNode">
		  		
				  <form class="form-horizontal" role="form">
				  
				    <div class="form-group">
				      <label class="control-label col-sm-2"><strong>Name</strong>:</label>
				      <div class="col-sm-10">
				        <label class="reportTree"><span ng-bind="selectedNode.name"></span></label>
				      </div>
				    </div>
				    
				    <div class="form-group">
				      <label class="control-label col-sm-2"><strong>Type</strong>:</label>
				      <div class="col-sm-10">
				        <label class="reportTree"><span ng-bind="selectedNode.type"></span></label>
				      </div>
				    </div>
				    
				  </form>
		  	</div>
		  	<div ng-hide="selectedNode">
		  		N/A
		  	</div>
		  </div>
		</div>
    	<div class="row" style="margin-top: 20px; margin-bottom: 100px;">
		  <div class="col-md-1"></div>
		  
		</div>

    	</div>
    </div>
    <div id="sankey" class="sankey"></div>
  </div>
  <div class="popup">

  </div>
</div>
