<div class="page page-dashboard">
    <div class="container">
        <div class="row">
            <h3>Select Asset for Downloading...</h3>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="File_Download">Asset list:</label>
                    <select class="form-control" id="File_Download" style="width:300px;">
                        <optgroup label="Table">
                        <option>Table 1</option>
                        <option>Table 3</option>
                        <option>Table 12</option>
                        <option>Table 3F</option>
                        <option>Table 13</option>
                        <option>Table 123</option>
                        <option>Table 432</option>
                        <option>Table 123</option>
                        <option>Table 13</option>
                        <option>Table 23</option>
                        </optgroup>
                        <optgroup label="Dashboards">
                        <option>Dashboard 1</option>
                        <option>Dashboard 3</option>
                        <option>Dashboard 12</option>
                        <option>Dashboard 3F</option>
                        <option>Dashboard 13</option>
                        <option>Dashboard 123</option>
                        <option>Dashboard 432</option>
                        <option>Dashboard 123</option>
                        <option>Dashboard 13</option>
                        <option>Dashboard 23</option>
                        </optgroup>
                        <optgroup label="Assets">
                        <option>Asset 32</option>
                        <option>Asset 34</option>
                        <option>Asset 31</option>
                        <option>Asset 4A</option>
                        <option>Asset D1</option>
                        <option>Asset 33</option>
                        <option>Asset 321</option>
                        <option>Asset 31A</option>
                        <option>Asset 3445</option>
                        <option>Asset 341</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="btn-group">
                    <div class="btn btn-danger disabled">Download as .tsv</div>
                    <div class="btn btn-warning disabled">Download as .csv</div>
                    <div class="btn btn-primary disabled">Download as .pdf</div>
                </div>
            </div>
        </div>
    </div>
</div>